/* Body styling */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

/* Navigation bar styling */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Adjust this to your preferred width */
    width: 60%;  
}

/* Link styling */
nav a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    font-size: 18px;
}

nav a:hover {
    color: #007bff;
}

h1{
    color: blueviolet;
}